@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.flex-col-center {
  @apply flex flex-col items-center;
}

:root {
    --main-bg-color: #000;
    --main-text-color: #000;
}
  
body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	transform: translateX(14px);
}

@layer base {
	button:not([disabled]),
	[role="button"]:not([disabled]) {
		cursor: pointer;
	}
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
    border: 2px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
